/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2017, 10:22:21 AM
    Author     : 14034305
*/

header, main, nav, footer, figure, figcaption, aside, section, article {display: block;}
body { background-color: #4F6D93;
      color: #666666;
	  font-family: Arial, Helvetica, sans-serif;
	    background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
	  background-repeat: no-repeat;
}
#wrapper { width: 80%;
           margin-left: auto;
		   margin-right: auto;
		   background-color: #90C7E3; 
		   min-width: 960px;
		   max-width: 2048px;
		   box-shadow: 3px 3px 3px #333333;
          }
header {   background-color: #000033;
           color: #FFFFFF;
	   background-position: right;
	   background-repeat: no-repeat;
	   text-align: center;
	   height: 60px;
	   padding-top: 15px;
}          
h1 { margin-bottom: 0;
    margin-top: 0;
    font-family: Georgia, "Times New Roman", serif;
	letter-spacing: 5px;
    }
nav { float: left;
     width: 160px;
     font-weight: bold; 
	 padding: 20px;
}
nav ul { list-style-type: none;
       margin: 0;
	   padding-left: 0;
	   font-size: 1.2em;
}
nav a { text-decoration: none; }

nav a:link { color: #000033; }
nav a:visited { color: #000033; }
nav a:hover { color: #FFFFFF; }