/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 13, 2017, 11:47:16 AM
    Author     : Thomas Taylor
*/
#wrapper { width: 80%;
           margin-left: 0;
		   margin-right: auto;
		   background-color: #90C7E3; 
		   min-width: 960px;
		   max-width: 2048px;
		   box-shadow: 3px 3px 3px #333333;
                   margin-top: 50px;
         }
         
         
         #deaths, #kills, #submit, #mailing{
             color:black;             
         }
         .wrap{
             text-align: right;
             padding-right: 750px;
         }
         
.csgo-wrapper {
             
        display: table-cell
        
         }
        
        
nav2 {float: left;
     width: 160px;
     font-weight: bold; 
	 padding: 20px;
}
nav2 ul { list-style-type: none;
          margin: 0;
          padding-right: 100%;
	  font-size: 1.2em;
}
#container{
    margin-left: auto;
    margin-right:auto;
    padding-top: 70px;
    text-align: center;
}

.main-wrap{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 100px;
    font-size: 18px;
    color: grey;
    
}

